.userCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 6px;
  padding: 10px;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px whitesmoke;
  .checkbox {
    cursor: pointer;
  }
  > div {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
  .number {
    width: 80px;
  }

  .name {
    width: 220px;
  }
  .email {
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .role {
    width: 150px;
  }

  .actions {
    display: flex;
    padding: 10px;
    gap: 20px;
    width: 120px;
    align-items: center;
    margin-left: 10px;
    .edit {
      color: rgb(0, 166, 255);
    }
    .delete {
      color: rgb(236, 151, 151);
    }
    .save {
      color: rgb(73, 124, 73);
    }
  }
  input {
    padding: 7px;
    border-radius: 7px;
    border: 0.3px solid black;
    outline: none;
    &:focus {
      border: none;
      outline: 2px solid rgb(76, 153, 235);
    }
  }
}
.bggray {
  background: rgb(247, 245, 245);
  box-shadow: 5px 5px 10px whitesmoke;
}
