.container {
  width: 97%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  .searchbarcontainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    .searchWithClear {
      display: flex;
      align-items: center;
      gap: 10px;
      color: blue;
      cursor: pointer;
    }
    input {
      padding: 10px;
      height: 20px;
      width: 300px;
      border-radius: 15px;
      border: 1px solid gray;
      outline: none;
    }
    .deleteRows {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: rgb(249, 243, 243);
      border-radius: 20px;
      color: black;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgb(221, 219, 219);
    }
  }
  .table {
    width: 95%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    .header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      padding: 5px 5px 5px 12px;
      transition: 0.25s ease-in-out;
      input {
        cursor: pointer;
      }

      > div {
        text-transform: capitalize;
        color: gray;
        text-align: left;
        padding: 0 5px;
        font-size: 0.95rem;
        font-weight: 600;
      }
      .number {
        width: 90px;
      }

      .name {
        width: 220px;
      }
      .email {
        width: 240px;
      }
      .role {
        width: 150px;
      }
      .actions {
        width: 140px;
      }
    }
    .body {
      margin-top: 10px;
      gap: 10px;
      display: flex;
      border-radius: 10px;
      background-color: white;
      padding: 10px 10px;
      flex-direction: column;
    }
  }
  .pagination {
    display: flex;
    width: 95%;
    justify-content: space-between;
    .selectedRowInfo {
      color: gray;
      cursor: pointer;
    }

    .paginationNumbers {
      display: flex;
      gap: 10px;

      .pageNumberDetail {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .btnPaginate {
        background-color: whitesmoke;
        color: black;
        outline: none;
        border: none;
        border-radius: 4px;
        margin: 0.3rem 0.5rem;
        width: 2rem;
        padding: 0.3rem 0.3rem;
        font-size: medium;

        cursor: pointer;
      }
      .secondaryBtn {
        background-color: gray;
        color: white;
        font-weight: 600;
      }
    }
  }
}

// @media only screen and (max-width: 1000px) {
//   .container {
//     width: 100%;
//     .searchbarcontainer {
//       width: 80%;
//       flex-wrap: wrap;
//       gap: 10px;
//       input {
//         width: 100%;
//       }
//     }
//     .table {
//       width: 81%;
//       background: white;
//       .header {
//         width: 80%;
//       }
//     }
//   }
// }
